.svn
*.log
*.a
*.make

/bin/ogre.cfg
	
/obj
/Makefile
/mylugre

# will be converted and added later, don't annoy me now : 
/data/units/installations/AsteroidFighterBase/
/data/units/installations/Civilan_Asteroid_Shipyard/
/data/units/installations/Commerce_Center/
/data/units/installations/Diplomatic_Center/
/data/units/installations/Factory/
/data/units/installations/Fighter_Barracks/
/data/units/installations/Gasmine/
/data/units/installations/Medical/
/data/units/installations/MiningBase/
/data/units/installations/Outpost/
/data/units/installations/Refinery/
/data/units/installations/Relay/
/data/units/installations/Relaysat/
/data/units/installations/Research/
/data/units/installations/Rlaan_Commerce_Center/
/data/units/installations/Rlaan_Fighter_Barracks/
/data/units/installations/Rlaan_Medical/
/data/units/installations/Rlaan_Mining_Base/
/data/units/installations/Rlaan_Star_Fortress/
/data/units/installations/Shaper_Bio_Adaptation/
/data/units/installations/Shipyard/
/data/units/installations/Starfortress/
/data/units/installations/Uln_Asteroid_Refinery/
/data/units/installations/Uln_Commerce_Center/
/data/units/installations/Uln_Refinery/
/data/units/installations/mesher
models/
